menu "ACL_Client Configuration"

    config WIFI_AP1
        bool "Set access point 1"
    config WIFI_AP1_SSID
        string "SSID of access point 1" if WIFI_AP1
        help
            SSID (network name) for access point 1.
    config WIFI_AP1_PASSWORD
        string "Password of access point 1" if WIFI_AP1
        help
            WiFi password (WPA or WPA2) for access point 1.
            Can be left blank if the network has no security set.

    config WIFI_AP2
        bool "Set access point 2" if WIFI_AP1
    config WIFI_AP2_SSID
        string "SSID of access point 2" if WIFI_AP2
        help
            SSID (network name) for access point 2.
    config WIFI_AP2_PASSWORD
        string "Password of access point 2" if WIFI_AP2
        help
            WiFi password (WPA or WPA2) for access point 2.
            Can be left blank if the network has no security set.


    config WIFI_AP3
        bool "Set access point 3" if WIFI_AP2
    config WIFI_AP3_SSID
        string "SSID of access point 3" if WIFI_AP3
        help
            SSID (network name) for access point 3.
    config WIFI_AP3_PASSWORD
        string "Password of access point 3" if WIFI_AP3
        help
            WiFi password (WPA or WPA2) for access point 3.
            Can be left blank if the network has no security set.


    config WIFI_AP4
        bool "Set access point 4" if WIFI_AP3
    config WIFI_AP4_SSID
        string "SSID of access point 4" if WIFI_AP4
        help
            SSID (network name) for access point 4.
    config WIFI_AP4_PASSWORD
        string "Password of access point 4" if WIFI_AP4
        help
            WiFi password (WPA or WPA2) for access point 4.
            Can be left blank if the network has no security set.


    config WIFI_AP5
        bool "Set access point 5" if WIFI_AP4
    config WIFI_AP5_SSID
        string "SSID of access point 5" if WIFI_AP5
        help
            SSID (network name) for access point 5.
    config WIFI_AP5_PASSWORD
        string "Password of access point 5" if WIFI_AP5
        help
            WiFi password (WPA or WPA2) for access point 5.
            Can be left blank if the network has no security set.

    config WIFI_AP_COUNT
        int "Number of access points configured"
        range 0 5
        default 5 if WIFI_AP5
        default 4 if WIFI_AP4
        default 3 if WIFI_AP3
        default 2 if WIFI_AP2
        default 1 if WIFI_AP1
        default 0

    config API_HOST
        string "API Host Address"
        default "10.1.10.145"
        help
            Numeric address to server running access list API

    config API_PORT
        string "API Host Port Number"
        default "8080"
        help
            Numeric port number of server running access list API

    config ACL
        string "ACL"
        default "door"
        help
            ACL name to query. Choices are: small-laser-cutter, medium-laser-cutter
            big-laser-cutter, sawstop, door, cncrouter, drumsander, jointer, planer, woodlathe

    config MOMENTARY
        bool "Momentary Activation"
        default "N"
        help
            N if you want a momentary access when a valid RFID is read (i.e. a door)
            Y if you want to provide access as long as the valid RFID is next to the reader
        
    config CACHE_ACL
        bool "Cache ACLs"
        default "N"
        help
            N if you want to disable ACL caching
            Y if you want to enable ACL caching. This allows some toleration of the ACL server becoming unavailable

endmenu
